<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/angular/angular.min.js"></script>
    <script src="static/angular/utils.js"></script>
    <script src="static/angular/adminApp.js"></script>
    <script src="static/angular/mychart.js"></script>
    <script src="static/lib/Chart.min.js"></script>
</head>
<body ng-app="adminApp" ng-controller="adminCtrl">

<div class="container-fluid">
    <div class="page-header">
        <h1>Admin <small>Modify Configs</small></h1>
    </div>

    <ul id="adminTab" class="nav nav-tabs">
        <li class="active">
            <a href="#menu" data-toggle="tab">Menu</a>
        </li>
        
        <li><a href="#others" data-toggle="tab">Others</a></li>
        <li class="dropdown">
            <a href="#" id="reportDropdown" class="dropdown-toggle" data-toggle="dropdown">
                Report
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="reportDropdown">
                <li><a href="#chart" tabindex="-1" data-toggle="tab">Chart</a></li>
            </ul>
        </li>
    </ul>
    <div id="adminTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="menu">
            <div class="panel panel-default">
                <div class="panel-heading">Add Menu</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Descript</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" style="width:90px" class="form-control" ng-model="name"></td>
                            <td><input type="text" style="width:60px" class="form-control" ng-model="price"></td>
                            <td><input type="text" class="form-control" ng-model="descript"></td>
                        </tr>
                    </tbody>
                    <tr>
                        <td><button type="button" class="btn btn-primary" ng-click="saveBtn()">Save</button></td>
                    </tr>
                </table>
                
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">Menu List</div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Descript</th>
                            <th>Sequence</th>
                            <th><button type="button" class="btn btn-danger" ng-click="delAllDb()">Delall</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in menuresult">
                            <td><input type="text" style="width:90px" class="form-control" ng-model="x.name"></td>
                            <td><input type="text" style="width:60px" class="form-control" ng-model="x.price"></td>
                            <td><input type="text" class="form-control" ng-model="x.descript"></td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="reduceNumber(x.number)">▲</button>
                                    <button type="button" class="btn btn-success btn-sm" ng-click="addNumber(x.number)">▼</button>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" ng-click="delOneDb(x)">Del</button>
                                    <button type="button" class="btn btn-primary" ng-click="modifyOneDb(x)">Modify</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="chart">
            <div class="panel panel-success">
                <div class="panel-heading">Chart</div>
                <canvas id="dailyChart"></canvas>
                <canvas id="monthChart"></canvas>
            </div>
        </div>
        <div class="tab-pane fade" id="others">
            <div class="panel panel-default">
                <div class="panel-heading">Others</div>
                <table class="table table-hover">
                    <tr>
                        <td>Table Counts</td>
                        <td>
                            <input type="text" class="form-control" ng-model="tableCounts">
                        </td>
                    </tr>
                    <tr>
                        <td>Business Time</td>
                        <td>
                            <input type="number" style="width: 50px" min="0" max="23" ng-model="businessStartHour">:
                            <input type="number" style="width: 50px" min="0" max="59" ng-model="businessStartMinute">
                            --
                            <input type="number" style="width: 50px" min="0" max="23" ng-model="businessEndHour">:
                            <input type="number" style="width: 50px" min="0" max="59" ng-model="businessEndMinute">
                        </td>
                    </tr>
                    <tr>
                        <td>Backup</td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="button" ng-click="backupDb()">Backup</button>
                                </span>
                                <input type="text" class="form-control" disabled ng-model="backupTime">
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" ng-click="exportDb()">Export</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Restore</td>
                        <td>
                            <button class="btn btn-danger" type="button" ng-click="restoreDb()">Restore</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" type="button" ng-click="restoreFromDropbox()">Restore from Dropbox</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Dropbox Access Token</td>
                        <td>
                            <input type="text" class="form-control" ng-model="dropboxAccessToken">
                        </td>
                    </tr>
                    <tr>
                        <td>Multi Language</td>
                        <td>
                            <select ng-model="multiLanguage">
                                <option value=0 ng-selected="multiLanguage==0">English</option>
                                <option value=1 ng-selected="multiLanguage==1">Chinese</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="button" class="btn btn-primary" ng-click="saveOthers()">Save</button></td>
                        <td></td>
                    </tr>
                <table>
                
            </div>
        </div>
    </div> 
</div>

</body>
</html>