<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/jquery/jquery.canvasjs.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/angular/angular.min.js"></script>
    <script src="static/angular/utils.js"></script>
    <script src="static/angular/adminApp.js"></script>
</head>
<body ng-app="adminApp" ng-controller="adminCtrl">

<div class="container-fluid">
    <div class="page-header">
        <h1>Admin <small>modify configs</small></h1>
    </div>

    <h3>menu list</h3>
    <div class="row">
        <div class="col-sm-12" style="background-color:lavender;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>price</th>
                        <th>descript</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" style="width:90px" class="form-control" ng-model="name"></td>
                        <td><input type="text" style="width:60px" class="form-control" ng-model="price"></td>
                        <td><input type="text" class="form-control" ng-model="descript"></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" ng-click="saveBtn()">save</button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>price</th>
                        <th>descript</th>
                        <th>sequence</th>
                        <th><button type="button" class="btn btn-danger" ng-click="delAllDb()">Delall</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in menuresult">
                        <td><input type="text" style="width:90px" class="form-control" ng-model="x.name"></td>
                        <td><input type="text" style="width:60px" class="form-control" ng-model="x.price"></td>
                        <td><input type="text" class="form-control" ng-model="x.descript"></td>
                        <td>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-success btn-sm" ng-click="reduceNumber(x.number)">▲</button>
                                <button type="button" class="btn btn-success btn-sm" ng-click="addNumber(x.number)">▼</button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" ng-click="delOneDb(x)">Del</button>
                                <button type="button" class="btn btn-primary" ng-click="modifyOneDb(x)">Modify</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h3>Others</h3>
    <div class="row">
        <div class="col-sm-12" style="background-color:lavender;">
            <table class="table table-hover">
                <tr>
                    <td>table counts</td>
                    <td>
                        <input type="text" class="form-control" ng-model="tableCounts">
                    </td>
                </tr>
                <tr>
                    <td>business time</td>
                    <td>
                        <input type="number" style="width: 50px" min="0" max="23" ng-model="businessStartHour">:
                        <input type="number" style="width: 50px" min="0" max="59" ng-model="businessStartMinute">
                        --
                        <input type="number" style="width: 50px" min="0" max="23" ng-model="businessEndHour">:
                        <input type="number" style="width: 50px" min="0" max="59" ng-model="businessEndMinute">
                    </td>
                </tr>
            <table>
            <button type="button" class="btn btn-primary" ng-click="saveOthers()">Save</button>
        <div>
    </div>
    
    <h3>Chart</h3>
    <div class="row">
        <div class="col-sm-12" style="background-color:lavender;">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        <div>
    </div>

</div>

</body>
</html>