<!DOCTYPE html>
<html lang="en">
<head>
    <title>seller</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/angular/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/angular/utils.js"></script>
    <script src="static/angular/sellerApp.js"></script>
</head>
<style>
#time:active {
    color: #ffffff; 
    background-color: #161617; 
    border-color: #494F57;
}
#tablenumber:active {
    color: #ffffff; 
    background-color: #161617; 
    border-color: #494F57;
}
#status:active {
    color: #ffffff; 
    background-color: #161617; 
    border-color: #494F57;
}
</style>

<body ng-app="sellerApp" ng-controller="sellerCtrl">

<div class="container-fluid">
    <div class="page-header">
        <h1>Seller <small></small></h1>
    </div>
    <div class="row">
        <h3>User Order</h3>
        <div class="col-sm-12" style="background-color:lavender;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th ng-click="clickSort('time')" id='time'>Time</th>
                        <th ng-click="clickSort('tablenumber')" id='tablenumber'>Table Number</th>
                        <th>Order</th>
                        <th ng-click="clickSort('status')" id='status'>Status</th>
                        <th>Sum</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in userorderresult">
                        <td>{{ x.ftime }}</td>
                        <td>{{ x.tablenumber }}</td>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Detal</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="y in x.order">
                                        <td>{{ y.name }}</td>
                                        <td>{{ y.price }} X {{ y.count }}</td>
                                        <td>{{ y.status }}</td>
                                        <td><button type="button" class="btn btn-info btn-xs" ng-click="completeOrderDetal(x,y)">Complete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>{{ x.status }}</td>
                        <td>{{ x.sum }}</td>
                        <td>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-primary" ng-click="completeOrder(x)">Complete</button>
                                <button type="button" class="btn btn-primary" ng-click="deleteOrder(x)">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>