<!DOCTYPE html>
<html lang="en">
<head>
    <title>user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/angular/angular.min.js"></script>
    <script src="static/bootstrap/js/bootbox.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/angular/utils.js"></script>
    <script src="static/angular/userApp.js"></script>
</head>
<body ng-app="userApp" ng-controller="userCtrl">

<div class="container-fluid">
    <div class="page-header">
        <h1>User <small></small></h1>
    </div>
    <div class="row">
        
        <div class="col-sm-12" style="background-color:lavender;">
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <td>
                            <span class="label label-default">table number</span>
                            <select ng-model="tablenumber" ng-disabled="tablenumber != undefined && selectTablenumberFlag == 0" ng-selected="selectTablenumber()">
                                <option ng-repeat="option in tableCountsShow" ng-selected="option==tablenumber">{{option}}</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>price</th>
                        <th>count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in menuresult">
                        <td>{{ x.name }}</td>
                        <td>{{ x.price }}</td>
                        <td>
                            <input type="text" style="width:60px" min=0 class="form-control" ng-model="x.count" ng-disabled="true">
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm" ng-click="addCount(x)">+</button>
                                <button type="button" class="btn btn-success btn-sm" ng-click="reduceCount(x)">-</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" ng-click="sendOrder()">Send Order</button>
        </div>

        <div class="col-sm-12" style="background-color:rgb(82, 163, 184);">
            <div class="col-sm-4">
                <table class="table">
                    <tr>
                        <td>
                            <span class="label label-default">order status</span>
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>time</th>
                        <th>order</th>
                        <th>status</th>
                        <th>sum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in userorderresult" ng-if="x.tablenumber==tablenumber">
                        <td>{{ x.ftime }}</td>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Detal</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="y in x.order">
                                        <td>{{ y.name }}</td>
                                        <td>{{ y.price }} X {{ y.count }}</td>
                                        <td>{{ y.status }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>{{ x.status }}</td>
                        <td>{{ x.sum }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>