<!DOCTYPE html>
<html lang="en">
<head>
    <title>user</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/angular/angular.min.js"></script>
    <script src="static/bootstrap/js/bootbox.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="static/angular/utils.js"></script>
    <script src="static/angular/userApp.js"></script>
</head>
<body ng-app="userApp" ng-controller="userCtrl">

<div class="page-header">
    <h1>{{ml.user}} <small></small></h1>
</div>

<h3>
    <span class="label label-default">{{ml.tablenumber}}</span>
    <select ng-model="tablenumber" ng-disabled="tablenumber != undefined && selectTablenumberFlag == 0" ng-selected="selectTablenumber()">
        <option ng-repeat="option in tableCountsShow" ng-selected="option==tablenumber">{{option}}</option>
    </select>
</h3>

<table class="table table-striped" style="background-color: lavender;">
    <thead>
        <tr>
            <th>{{ml.name}}</th>
            <th>{{ml.price}}</th>
            <th>{{ml.count}}</th>
            <th>{{ml.addDel}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in menuresult">
            <td>{{ x.name }}</td>
            <td>{{ x.price }}</td>
            <td>
                <input type="text" style="width:60px" min=0 class="form-control" ng-model="x.count" ng-disabled="true">
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-sm" ng-click="addCount(x)">+</button>
                    <button type="button" class="btn btn-success btn-sm" ng-click="reduceCount(x)">-</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" ng-click="sendOrder()">{{ml.sendOrder}}</button>

<h3><span class="label label-default">{{ml.orderStatus}}</span></h3>
<table class="table table-striped" style="background-color:rgb(82, 163, 184);">
    <thead>
        <tr>
            <th>{{ml.time}}</th>
            <th>{{ml.order}}</th>
            <th>{{ml.status}}</th>
            <th>{{ml.sum}}</th>
            <th>{{ml.action}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in userorderresult" ng-if="x.tablenumber==tablenumber">
            <td>{{ x.ftime }}</td>
            <td>
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ml.name}}</th>
                            <th>{{ml.detal}}</th>
                            <th>{{ml.status}}</th>
                            <th>{{ml.addDel}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="y in x.order">
                            <td>{{ y.name }}</td>
                            <td>{{ y.price }} X {{ y.count }}</td>
                            <td>{{ y.status }}</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="addCountDetal(x,y)" ng-disabled="y.status==ml.complete">+</button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="reduceCountDetal(x,y)" ng-disabled="y.status==ml.complete">-</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="text-danger">{{ x.status }}</td>
            <td>{{ x.sum }}</td>
            <td>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="modifyOrder(x)" ng-disabled="x.status == ml.complete">{{ml.modifyOrder}}</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>